<?xml version="1.0"?>
<configuration>

    <connectionStrings>
      <!--使用 Sessionid 来实现推送数据信息（适用于一台机器上有1个以上客户端）-->
      <!--使用 HostName  来实现推送数据信息（适用于一台机器上只有1个客户端）-->
      <add name="SendMessageType" connectionString="Sessionid"/>
      
    </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="Host.Services" behaviorConfiguration="abc">

        <endpoint address="" binding="wsDualHttpBinding" contract="Host.IServices" bindingConfiguration="wsdualbinding"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2000"/>
            <add baseAddress="net.tcp://localhost:3000"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="abc">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsdualbinding" transactionFlow="true" 
				 closeTimeout="00:03:00" 
				 maxReceivedMessageSize="500000" 
				 maxBufferPoolSize="50000" 
				 sendTimeout="00:03:00" 
				 openTimeout="00:03:00" 
				 receiveTimeout="00:03:00">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
      
    </bindings>

  </system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
